.btn {
  padding: 2px 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
}

.btn--add {
  background: rgba(189, 189, 189, 0.5);
}

.btn__wrapper--add {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__label--add {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
}

.btn--add:hover {
  background: rgba(189, 189, 189, 1);
}

.btn--remove {
  background: none;
  color: red;
}
