* {
    font-family: Arial;
}

.videoList {
    float: right;
}

.videoList > div {
    background-color: aquamarine;
}

.videoList > div:hover {
    background-color: darkorange;
}

.video {
    display: inline-block;
    position: relative;
}

.video > span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(-45deg);
    color: orange;
}